<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="wh-schedule-wh-heading" jhiTranslate="workinghoursApp.schedule.home.createOrEditLabel">Create or edit a Schedule</h2>
            <div>
                <wh-alert-error></wh-alert-error>
                <div class="form-group" [hidden]="!schedule.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="schedule.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workinghoursApp.schedule.user" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                        [(ngModel)]="schedule.user" required/>
                    <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workinghoursApp.schedule.scheduleType" for="field_scheduleType">Schedule Type</label>
                    <input type="text" class="form-control" name="scheduleType" id="field_scheduleType"
                        [(ngModel)]="schedule.scheduleType" required/>
                    <div [hidden]="!(editForm.controls.scheduleType?.dirty && editForm.controls.scheduleType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.scheduleType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workinghoursApp.schedule.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="schedule.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
